body {
    background-color: #dfcdc3;
    color: #47240d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.emojis {
    width: 20px;
    height: 20px;
}
#arrow-btn {
    float: left;
    margin: 15px;
}
#langbtn {
    float: right;
    margin: 15px;
    background-color: transparent;
    border: 1px solid transparent;
}
#langbtn:hover {
    transform: translateY(5px);
}
#title {
    float: left;
    margin-top: 30px;
    padding-left: 15px;  
}
.image-hover {
  position: relative;
  width: 200px;
  height: 220px;
  overflow: hidden;
  float: right;
  border: 2px solid transparent;
  border-radius: 30px;
}

.image-hover img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  border: 2px solid transparent;
  border-radius: 30px;
}

.image-hover img.hover {
  opacity: 0;
  border: 2px solid #47240d;
  border-radius: 30px;
}

.image-hover:hover img.hover {
  opacity: 1;
  border: 2px solid #47240d;
  border-radius: 30px;
}

.image-hover:hover img.default {
  opacity: 0;
  border: 2px solid transparent;
  border-radius: 30px;
}

#lists {
    padding-left: 15px;
}
#i-enjoy {
    float: left;
    margin-bottom: 20px;
}
@media (max-width: 800px) {
    #i-enjoy {
        float: none;
    }
}
#i-believe {
    text-align: right;
    direction: rtl;
}
@media (max-width: 800px) {
    #i-believe {
        text-align: left;
        direction: ltr;
    }
}
#i-believe-title {
    margin-left: 75%;
}
@media (max-width: 800px) {
    #i-believe-title {
        margin-left: 0%;
    }
}
#footer {
    background-color: #c0aa9f;
    text-align: center;
}